/* Body styles */
body {
    background-color: #F8F8F8;
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  #main_title {
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #051b7c;
    margin-top: 20px;
  }
  
  /* Welcome message styles */
  #text-welcome {
    font-size: 1.2em;
    text-align: center;
    color: #666;
    margin-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Quote display styles */
  #quote {
    font-size: 1.5em;
    text-align: center;
    color: #333;
    margin-top: 30px;
  }
  
  /* Input box styles */
  @keyframes neonAnimation {
    0% {
      box-shadow: 0 0 5px #0654e4;
    }
    50% {
      box-shadow: 0 0 15px #0c55b4, 0 0 20px #41cf94, 0 0 30px #c628ee, 0 0 30px #041ca3, 0 0 30 px #e91bcd;
    }
    100% {
      box-shadow: 0 0 5px #0654e4;
    }
  }
  
  
  #typed_value {
    font-size: 1.2em;
    border: 2px solid #0654e4;
    padding: 10px;
    margin-top: 30px;
    margin-left: 21em;
    width: 450px;
    border-radius: 6px;
    animation: neonAnimation 1s infinite;
  }
  
  
  /* Start button styles */
  
  #start_button {
    background-color: #31eb03;
    position: relative;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 6px;
    transition: 0,3s;
    animation: neonAnimation 1s infinite;
  }
  @keyframes neonAnimation {
    0% {
      box-shadow: 0 0 5px #0670ad;
    }
    50% {
      box-shadow: 0 0 20px #ff00f2, 0 0 20spx #b907b9, 0 0 40px #0a06ca, 0 0 60px #48035e, 0 0 80px #0400ff;
    }
    100% {
      box-shadow: 0 0 5px #2e03eb;
    }
  }
  #start_button:hover {
    background-color: #69da0d;
  }
  
  #start_button:active {
    animation: clickAnimation 0.3s;
  }
  
  @keyframes clickAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
  
  
  
  /* Status message styles */
  #message {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
  }
  